<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-menu-toggle *ngFor="let c of componentes | async" [routerLink]="c.redirectTo">
      <ion-list>
        <ion-item detail>
          <ion-icon color="primary" slot="start" [name]="c.icon"></ion-icon>
          {{c.name}}
        </ion-item>
      </ion-list>
    </ion-menu-toggle>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
